{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    

    .carousel-inner { height: 0; padding-bottom: 50%; border: solid 2px red; }
    .carousel-item { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
    .carousel-item img { height: 100%; object-fit: cover; }

    .card1 { background-color: gold;}
    .card2 { background-color: silver;}
    .card3 { background-color: #CD7F32;}

</style>

{# CAROUSEL #}
<div id="carouselExample" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active h-100">
            <img src="{{ asset('images/carousel/1.jpg') }}" class="d-block w-100" alt="Image 1">
        </div>
        <div class="carousel-item h-100">
            <img src="{{ asset('images/carousel/visit-palais-garnier-opera-header.jpg') }}" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item h-100">
            <img src="{{ asset('images/carousel/07_ConcertHalls__PalaisGarnier_shutterstock_752152147.jpg') }}" class="d-block w-100" alt="Image 3">
        </div>
        <div class="carousel-item h-100">
            <img src="{{ asset('images/carousel/opera-garnier-theatre.jpg') }}" class="d-block w-100" alt="Image 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

{# CARD CADEAUX #}
<div class="container my-5">
    <h2 class="text-center mb-4">Nos Cartes Cadeaux</h2>
    <h3 class="text-center mb-4">OFFREZ DU THÊATRE !</h3>
    <p class="text-center mb-4">Offrez à vos proche une chance pour découvrir le thêatre</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card card1 h-100">
                <img src="{{ asset('images/card/opera-garnier-paris.jpg') }}" class="card-img-top" alt="Carte Cadeau 1">
                <div class="card-body text-center">
                    <h5 class="card-title">Carte Cadeau Or</h5>
                    <p class="card-text">50€</p>
                    <p class="card-text">Profitez d'une expérience VIP dans notre théâtre.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card card2 h-100">
                <img src="{{ asset('images/card/opera-garnier-paris.jpg') }}" class="card-img-top" alt="Carte Cadeau 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Carte Cadeau Argent</h5>
                    <p class="card-text">30€</p>
                    <p class="card-text">Offrez un moment unique à vos proches.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card3 h-100">
                <img src="{{ asset('images/card/opera-garnier-paris.jpg') }}" class="card-img-top" alt="Carte Cadeau 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Carte Cadeau Bronze</h5>
                    <p class="card-text ">10€</p>
                    <p class="card-text">Un billet pour un spectacle au choix.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{# LOCALISATION #}
<div class="container my-5">
    <h2 class="text-center mb-4">Localisation du Théâtre</h2>
    <h4 class="text-center mb-4">COMMENT VENIR ?</h4>
    <p class="text-center mb-4">Pour vous rendre au théâtre de Paris, vous pouvez vous rendre à l'adresse suivante : 15 Rue Blanche, 75009 Paris</p>
    <h4 class="text-center mb-4">ACCES EN SALLE</h4>
    <p class="text-center mb-4">Votre placement en salle est garanti jusqu'à 5 minutes avant le début de la représentation.</p>
    <p class="text-center mb-4">Une fois le spectacle commencé, vous ne pourrez plus accéder à la salle.</p>
    <div id="map" style="height: 400px;"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var map = L.map('map').setView([48.8566, 2.3522], 14); // Coordonnées de Paris

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        var marker = L.marker([48.8566, 2.3522]).addTo(map)
            .bindPopup("<b>Théâtre de Paris</b><br>15 Rue Blanche, 75009 Paris<br><a href='https://www.google.com/maps/dir/?api=1&destination=48.8566,2.3522' target='_blank'>Itinéraire</a>")
            .openPopup();
    });
</script>

{# EVENEMENTS #}
{% for eventsvalide in eventsvalides %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100" style="width:250px">
                {% if eventsvalide.avatar is null %}
                    <img class="card-img-top" src="{{ asset('images/events/dall-e-2024.jpg') }}" alt="Card image" style="width:100%">
                    {% else %}
                    <img class="card-img-top" src={{asset('images/' ~ eventsvalide.avatar)}} alt="Card image" style="width:100%">
                {% endif %}
                <div class="card-body text-center">
                    <h4 class="card-title">{{eventsvalide.title}}</h4>
                    <h4 class="card-title">{{eventsvalide.prix}}€</h4>
                    <p class="card-text">{{eventsvalide.createdAt|date("m/d/Y H:i")}}</p>
                    <p class="">{{eventsvalide.description|slice('0', '200')~ '...'}}</p>
                    
                    <a href="{{path('app_evenement_show',{'id':eventsvalide.id})}}"> En savoir plus</a>
                    <a href="{{path('reservation',{'id':eventsvalide.id})}}"> Réserver </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
